project_id   = "<<PROJECT_ID>>"
region       = "<<region>>"
zone       = "<<zone>>"
cluster_name = "<<cluster_name>>"
db_instance_name = "<<db_instance_name>>"
vm_name = "<<vm_name>>"
topic_names = <<topic_names>>
push_subscriptions = <<push_subscriptions>>