pull_subscriptions = {
<<pull_subscriptions>> = {

    name                        = "<<name>>"

    topic                       = "<<topic>>"

    ack_deadline_seconds       = "<<ack_deadline_seconds>>"

    message_retention_duration = "<<message_retention_duration>>"

  },
}