---
- name: AQL Execution
  hosts: aerospike
  become: false

  vars:
    local_script_path: ./sparse_cd.py         # Path to the script on the control machine
    remote_script_path: /root/sparse_cd.py    # Destination on the remote host

  tasks:
    - name: Check if git is installed
      command: which git
      register: git_check
      ignore_errors: yes

    - name: Install git if not present
      package:
        name: git
        state: present
      when: git_check.rc != 0

    - name: Check if python3 is installed
      command: which python3
      register: python_check
      ignore_errors: yes

    - name: Install python3 if not present
      package:
        name: python3
        state: present
      when: python_check.rc != 0

    - name: Copy sparse.py to target VM
      copy:
        src: "{{ local_script_path }}"
        dest: "{{ remote_script_path }}"
        mode: '0755'

    - name: Run sparse.py using python3
      command: python3 {{ remote_script_path }} "{{ higher_env }}" "{{ promotion_branch_x }}"
